<!DOCTYPE html>
<html lang="en">
<head>
  <title>Health Care Management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Online HealthCare</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#Patient">Make Appointment</a></li>
        <li><a href="#Doctor">History</a></li>
      </ul>
    </div>
  </div>
</nav>
  

<div class="Patient container-fluid">
  <h3>Make an Appointment</h3>
  <p>Click the button to create an appointment</p>
  <div>
	<a href="/makeappt/{{ un }}"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> CREATE</button> </a>
  </div>
</div>

<div class="Appt History container-fluid">
  <h3>See Appointment History</h3>
  <p>Click the button to see appointment history</p>
  <div>
  <a href="/"> <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> HISTORY</button> </a>
  </div>
</div>


</body>
</html>
